@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
    font-family: 'Montserrat', 'sans-serif'; 
    color: #555555;
}
/* Navbar and main logo */
.navbar {
    background-color: white;
}

#logo {
    float: left;
    margin-bottom: 10px;
    height: 50px;
    width: 120px;
    position: relative;
}

#navbarToggler {
    color: #13baec;
    font-size: 100%;
    list-style-type: none;
    letter-spacing: 2px;
    text-transform: uppercase;
    bottom: 0%;       
}

#navbarToggler, #logo {
    line-height: 50px;
}

#navbarToggler li {
    float: right;
    margin-right: 20px;
}

#navbarToggler a {
    text-decoration: none;
    border-color:  #13baec;
    color: inherit;    
}



#navbarToggler a:hover {
    color: #1339e4;
}


/* Finished Navbar and Logo styling */

/* Main Hero image caorousel and gallery */
#hero-image, #market-image, #jfood {
    height: 500px;
    width: 100%;
}

#gallery {
    padding-bottom: 15px;
}

.col-sm-4 {
    padding: 10px;   
}

.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}


/* Finish Main Hero image caorousel and gallery */

/* Headings */
h1 {
    color: #13baec;
    text-align: center;
    margin: 20px;
    font-weight: 100;
}

.h1, h1 {
    font-size: 2.0rem;
}


h2 {
    color: #13baec;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-bottom: 10px;
    text-align: center;
    font-weight: 100;
}

h3 {
    color: #13baec;
    font-weight: 100;
    text-align: center;
}


h5  {
    color: #13baec;
    font-size: 100%;
    letter-spacing: 2px;
    border-spacing: 10px;
}


/* Headings Finished */
/* Contact Form */
form  {
  color:  #13baec;
  width: 500px;
  border: 5px solid #13baec;
  padding: 70px;
  margin: auto;
  padding-top: 30px;
  display: flex;
}

.btn-primary {
   background-color: #13baec;  
}

section {
    display: block;
}


/* Form Finished */

/* Company introduction and Tours */
.media-body {
    padding-bottom: 75px;
}

.media {
    float: left;
    padding-bottom: 75px;
}

i {
    color:  #13baec;
}






/* Tours Finished */

/* Footer */
footer{
    width: 100%;
    background-color: #13baec;
}

.social-media {
    text-align: center;
}

.social-media li{
    display: inline;
    width: 100%;
    text-align: center;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.social-media i{
    font-size: 160%;
    margin: 1%;
    padding: 1%;
    color: white;
}


ul.social-media {
    padding: 0;
    margin: 0;
    
}





/* Footer Finished */

/* Alert */
.alert {
    background-color: #13baec;
}
/* Alert Finished */





