@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
    font-family: 'Montserrat', sans-serif; 
    color: #555555;
}

.navbar {
    background-color: white;
}


#logo {
    float: left;
    margin-bottom: 10px;
    height: 50px;
    width: 120px;
    position: relative;
}

#menu {
    color: #13baec;
    font-size: 100%;
    list-style-type: none;
    letter-spacing: 2px;
    text-transform: uppercase;
    bottom: 0;
}

#menu, #logo {
    line-height: 50px;
}

#menu li {
    float: right;
    margin-right: 20px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 2px solid #777777;
}

#hero-image, #market-image, #jfood {
    height: 500px;
    width: 100%;
}

#business-model {
    height: 500px;
    width: 100%;
}

#left-about {
    padding-top: 20px;
    width: 40%;
    float: left;
    padding-left: 20px;
}

#right-about {
    padding-top: 20px;
    width: 60%;
    float: right;
    padding-left:  10px;
    padding-right: 10px;  
}

h1 {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
}

p {
    padding-right: 10px;
}

#organisers {
    height: 500px;
    width: 100%;
}

.img-circle {
    border-radius: 50%;
}

#left-about-img {
    width: 40%;
    float: left;
    padding-left: 20px;
    padding-bottom: 10%;
}

h2 {
    float: right;
    width: 60%;
}




form  {
  color:  #13baec;
  width: 500px;
  border: 5px solid #777777;
  padding: 100px;
  margin: 250px;
  
  padding-top: 30px;
  position: absolute;
  
}

.btn-primary {

   background-color: #13baec;
   border-color: none;
}



















