@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
    font-family: 'Montserrat', sans-serif; 
    color: #555555;
}

.navbar {
    background-color: white;
}


#logo {
    float: left;
    margin-bottom: 10px;
    height: 50px;
    width: 120px;
    position: relative;
}


#navbarTogglerDemo02 {
    color: #13baec;
    font-size: 100%;
    list-style-type: none;
    letter-spacing: 2px;
    text-transform: uppercase;
    bottom: 0%; 
       
}



#navbarTogglerDemo02, #logo {
    line-height: 50px;
}

#navbarTogglerDemo02 li {
    float: right;
    margin-right: 20px;
}

#navbarTogglerDemo02 a {
    text-decoration: none;
    border-color:  #13baec;
    color: inherit;
    
}

#navbarTogglerDemo02 a:hover {
    border-bottom: 1px solid #777777;
}


#hero-image, #market-image, #jfood {
    height: 500px;
    width: 100%;
}

#business-model {
    height: 500px;
    width: 100%;
}

#left-about {
    padding-top: 20px;
    width: 40%;
    float: left;
    padding-left: 20px;
}

#right-about {
    padding-top: 20px;
    width: 60%;
    float: right;
    padding-left:  10px;
    padding-right: 10px;  
}

h1 {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
}

p {
    padding-right: 10px;
}

#organisers {
    height: 500px;
    width: 100%;
}

.img-circle {
    border-radius: 50%;
}



h2 {
    float: right;
    width: 60%;
}

h5  {
    color: #13baec;
    font-size: 100%;
    letter-spacing: 2px;
    border-spacing: 10px;
}

h2 {
    color: #13baec;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-bottom: 10px;

}




form  {
  color:  #13baec;
  width: 500px;
  border: 5px solid #777777;
  padding: 100px;
  margin: 250px;
  
  padding-top: 30px;
  position: relative;
 
}

.btn-primary {

   background-color: #13baec;
   border-color: none;
}

section {
    display: block;
}

.content-container {
    padding-top: 75px;
    padding-bottom: 75px;
    text-align: left;
}



.media-body {
    padding-bottom: 75px;
}

.media {
    float: left;
}

i {
    color:  #13baec;
}

footer{
    height: 100px;
    background-color: #13baec;
}

.social-networks{
    text-align: center;

}

.social-networks li{
    display: inline;
}

.social-networks i{
    font-size: 160%;
    margin: 1%;
    padding: 3%;
    color: white;
}

.alert {
    background-color: #13baec;
}


